.card {
    background-color: #f7f7f7;
    border-radius: 16px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 3px solid black; /* Bold black border */
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .card .icon {
    font-size: 3rem;
    color: #479ccf;
    margin-bottom: 15px;
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
  }
  
  .card p {
    font-size: 1.1rem;
    color: black;
  }
  