.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 320px;
  padding-right: 338px;
  padding-top: 70px;
  padding-bottom: 50px;
  background: linear-gradient(to right, #e7e8e9, #8bbdff);
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 8px;
  padding: 20px;
  flex-basis: 45%; 
  border-radius: 18px;
}

.greeting-card {
  font-size: 20px;
  font-style: sans-serif;
}

.generic-card {
  color: black;
  padding-left: 47px;
  font-style: italic;
}

.greeting-card p{
  color: #333;
  padding-left: 20px;
  font-style: italic;

}

.contact-info p {
  display: flex;

}
