.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    padding: 170px;
    background-color: #FFEEAD;
  }
  
  .contact-card, .map-card {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  
  }
  
  .contact-card h2 {
    margin-bottom: 10px;
    font-size: 34px;
    color: #333;
  }
  
  .contact-card p {
    margin-bottom: 10px;
    color: #666;
    line-height: 1.6rem;
  }
  
  .contact-info p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    font-size: 16px;
  }
  
  .contact-info svg {
    color: #333;
    font-size: 20px;
  }
  
  .map-card iframe {
    border-radius: 8px;
  }
  