/* review.css */
.parent-card {
    max-width: 1600px;
    min-height: 700px;
    margin: 0 auto; /* Center the parent card */
    padding-left:170px;
    padding-right: 170px;
    padding-top: 50px;
    padding-bottom: 10px;
    border: 1px solid #dfe5f1;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.parent-card h1{
    font-size: 60px;
    padding-bottom: 40px;
    color: black;
}
.review-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px; /* 8px space between each review item */
    justify-content: center;
    height: 150px;
}

.review-card {
    border: 2px solid transparent;
    border-radius: 10px;
    background: linear-gradient(to right, #e7e8e9, #8bbdff);
    padding: 16px; /* Internal padding for review cards */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.review-card:hover {
    border-color: black; /* Blue border on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.review-card h3{
    font-size: 30px;
}
.review-card p{
        font-size: 18px;
        color: #333;
}

.review-card img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.review-figcaption {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.review-figcaption div {
    margin-left: 10px;
}

.review-figcaption div:first-child {
    font-weight: bold;
    color: #1f2937; /* Dark text color */
}

.review-figcaption div:last-child {
    font-size: 14px;
    color: #6b7280; /* Gray text color */
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937; /* Dark text color */
}
