nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  background: linear-gradient(to right, #fff, #ffff); /* Background color of the navbar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Hide the menu icons on large screens */
.menu-icon,
.menu-close {
  display: none; /* Hide by default */
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #333; /* Color of the title */
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: background-color 0.3s ease;
}

.title:hover {
  background-color: #6EACDA; /* Hover background color */
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: #333; /* Color of the links */
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 15px; /* Border radius of the buttons */
}

a:hover,
a.active {
  background-color: #479ccf; /* Background color on hover and active */
  color: #000; /* Font color on hover and active */
}

a:hover {
  background-color: #6EACDA; /* Hover color change */
}

a svg {
  margin-right: 0.5rem;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  nav {
    padding: 0 1rem; /* Reduced padding for mobile screens */
  }

  .title {
    font-size: 1.2rem;
    padding-right: 150px; /* Reduced size for mobile */
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #fff, #ffff);
    width: 100%;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem; /* Matching size for visual balance */
  }
  
  .menu-close {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem; /* Matching size for visual balance */
  }

  ul {
    flex-direction: column;
  }

  li {
    width: 100%; /* Ensure full width for each item */
    margin: 0.5rem 0; /* Reduced margin for a compact layout */
  }

  a {
    justify-content: center; /* Center alignment of text and icons */
    padding: 0.8rem; /* Slightly increased padding for better tap targets */
  }
}
